body{
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}
p{
    margin-top: 35px;
    margin-bottom: 35px;
}
section{
    margin-bottom: 100px;
}
footer{
    background: black;
    color: white;
}
h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
}




.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
    padding-left: 5%;
}

.orange-color{
    color: orange;
}

.link-button{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-image: linear-gradient(salmon,tomato);
    padding: 10px 35px;
    border-radius: 5px;
    
}

.fexibility-container{
    display:flex;
}

.center{
    text-align: center;
}

.three-width{
    width: 25%;
    padding-left: 3%;
    padding-right: 2%;
}
.three-width img{
    width: 55%;
}





#h1-1stpart{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#h1-1stpart h1{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 40px;
    color: #333333;
    padding-left: 15px;
}

#h1-2ndpart{   
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 70px;
    color: #13103A;
}

#h1-3rdpart{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #333333;
}
#h1-4thpart{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #333333;
}
#mission{
    box-shadow: 10px 10px 40px rgb(212, 210, 210);
    margin-left: 5%;
    margin-right: 2%;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
}
#vission{
    box-shadow: 10px 10px 40px rgb(212, 210, 210);
    margin-left: 2%;
    margin-right: 2%;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 26px;
}
#goal{
    box-shadow: 10px 10px 40px rgb(212, 210, 210);
    margin-left: 2%;
    margin-right: 5%;
    background: #FFF4D6;
    border-radius: 26px;
}

#3rd-banner{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}
