body{
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}
p{
    margin-top: 35px;
    margin-bottom: 35px;
}
section{
    margin-bottom: 100px;
}





.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
    padding-left: 5%;
}

.orange-color{
    color: orange;
}

.link-button{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-image: linear-gradient(salmon,tomato);
    padding: 10px 35px;
    border-radius: 5px;
    
}

.fexibility-container{
    display:flex;
}





#h1-1stpart{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#h1-1stpart h1{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 40px;
    color: #333333;
    padding-left: 15px;
}